<!DOCTYPE html>
<html>
<head>

<style>
  * {
  box-sizing: border-box;
}

  img {
  margin-top: 50px;
  }
h1{
  font-family: Trebuchet MS;
  font-size: 22px;}
h2{
 line-height: .8;
  font-size: 50px;
font-family: sans-serif;
}
h5{

 padding-left:50px;
}
.message{
font-size:17px;	
font-family:Cambria;
}
.m{
font-size:17px;	
font-family:Cambria;
margin-bottom: 23px;
}
.ms{
font-size:15px;	
font-family:Cambria;
margin-bottom: 23px;
}
.me{
font-size:14px;	
font-family:Cambria;
margin-bottom: 23px;
}
.button {
	
  border-radius: 10px;
  border-color: rgb(12, 10, 82,) ;
  color: rgb(233, 238, 239);
  padding: 10px 20px;
  text-align: center;
  font-family: Verdana;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
    font-style: normal !important; 
  font-weight: normal !important; 
  cursor: pointer;
}
.button2 {background-color: #1f6ad3;}
.button2:hover {
  color: rgb(15, 3, 26);
}
.fa {
 margin-top: 20px;
   max-width: 100%;
    height: auto;
  padding: 16px;
 
 
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

  text-shadow:2px 2px 4px #000000;

  font-size: 2em; 
  font-style: normal !important; 
  font-weight: normal !important; 
 
  overflow: visible; 

}
.fa-google {
  background: #737170;
  color: white;
}

.fa:hover {
    opacity: 0.5;
}
.fa-linkedin {
  background: #737170;
  color: white;
}
.fa-twitter {
  background: #737170;
  color: white;
}
.fa-rss {
  background:  #737170;
  color: white;
}
.msg{
  margin-top: 30px;
}
.OTP{
font-size: 90px;
font-family: sans-serif;
}
.message{
font-size:28px;	
}
.hello{
	font-size:20px;
	font-family:sans-serif;
	font-weight: bold;
}



@media only screen and (max-width:800px) {
  /* For tablets: */
  .main  {
    width: 80%;
    padding: 0;
  }
 
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
   .main  {
    width: 100%;
  }
}
</style>



</head>
<body style="font-family:Verdana;text-align:center;">

  <div style="margin: 0px auto;
background-color: rgb(30, 221, 221, .75);
box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.75);
border-radius: 19px;
  width: 40%;
  padding: 0 20px;
  overflow: hidden;
  text-align:center;">
   <img src="https://cdn-icons-png.flaticon.com/512/1161/1161724.png"  style="width:50%" >
   
    <h1>Here is your One Time Password</h1>
    <p class="m">to validate your email address</p>
	  <h2>{{company}}</h2>
	   <p class="m">Remember, Never share this OTP with anyone.</p>
  </div>

  



<div style="text-align:center;margin-top:30px;font-size:12px;"> <p >© 2023 Social Media, Inc. All rights reserved.</p>
    <p>123 Amazing Street, SomewhereTown, OR, 87466 Phil., (123) 456-7890</p>

	   <a href="https://www.google.com/" ><img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" style="max-width: 3%;" /></a>
    <a href="https://www.linkedin.com/" ><img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" style="max-width: 3%;" /></a>
    <a href="https://twitter.com/"><img src="https://cdn-icons-png.flaticon.com/512/145/145812.png" style="max-width: 3%;" /></a>
    <a href="#" ><img src="https://cdn-icons-png.flaticon.com/512/3670/3670291.png" style="max-width: 3%;" /></a>
	
    <p class="msg"> You recieved this email because you signed up for SocMed.</p></div>
</body>
</html>

